<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HW15 is too long</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
</head>

<body>
    <div class="container">
        <div class="jumbotron" style="text-align: center">
            <h1>Belly Button Biodiversity</h1>
            <p>HW15 InteractiveVisualization and Dashboards</p>
        </div>

        <!-- dropdown -->
        <select id="selDataset" onchange="optionChanged(this.value)">
            <!-- <option selected disabled>SELECT Sample:</option> -->
            <!-- <option value="940">'BB_940'</option>
            <option value="941">'BB_941'</option>
            <option value="943">'BB_943'</option>
            <option value="944">'BB_944'</option>
            <option value="945">'BB_945'</option>
            <option value="946">'BB_946'</option>
            <option value="947">'BB_947'</option>
            <option value="948">'BB_948'</option>
            <option value="949">'BB_949'</option>
            <option value="950">'BB_950'</option>
            <option value="952">'BB_952'</option>
            <option value="953">'BB_953'</option> -->
        </select>

        <!-- metadata table -->
        <div class="col-md-2">
            <table class="table">
                <thead>
                   <tr>
                      <th scope="row">Sample Metadata</th>
                   </tr>
                </thead>
                <tbody>
                   <tr>
                      <th scope="row"></th>
                      <td>'AGE':</td>
                      <td>24.0</td>
                   </tr>
                   <tr>
                      <th scope="row"></th>
                      <td>'BBTYPE':</td>
                      <td>'I'</td>
                   </tr>
                   <tr>
                      <th scope="row"></th>
                      <td>'ETHNICITY':</td>
                      <td>'Caucasian'</td>
                   </tr>
                   <tr>
                      <th scope="row"></th>
                      <td>'GENDER':</td>
                      <td>'F'</td>
                   </tr>
                   <tr>
                      <th scope="row"></th>
                      <td>'LOCATION':</td>
                      <td>'Beaufort/NC'</td>
                   </tr>
                </tbody>
              </table>
        </div>      


        

        
    </div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
